# Dependências do Node
node_modules/
npm-debug.log
yarn-error.log

# Cache do Python e FastAPI
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Arquivos de ambiente
.env
.venv
venv/
env/

# Arquivos do Windows / MacOS
Thumbs.db
.DS_Store

# Local development logs
.local/
